.transaction-detail-heading{
  text-align: center;
  font-weight: bold;
  width: 300px;
  color: #2328b1;
  margin: 0 auto 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 3px solid #23b178;
}

.history-data{
    background-color: #fff;
    color: #2328b1;
    text-align: left;
    padding: 3% 10%;
    height: 100vh;
}

.history {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #471192;
    padding: 10px;
    color: #000;
    width: 250px;
    margin: 16px;
    float: left;
  }
  .history h3 {
    font-size: 1.1em;
    margin-bottom: 6px;
    color: #000;
    white-space: pre-wrap;
    word-wrap: break-word;
  }